<a href="https://colab.research.google.com/github/djerafachwak/CS501-DJERAF-Achwaq/blob/main/first_assinment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Q1: Create a variable named `age` and assign your age to it.

In [ ]:
age=22
age

22

# Q2: Create two variables, `city` and `country`, and assign your city and country to them

In [ ]:
city='msila'
country='Algeria'

# Q3: Combine `city` and `country` into a single string `location` and print it

In [ ]:
location= city,country
location

('msila', 'Algeria')

#Q4: Change the value of `age` to a different number and print it.

In [ ]:
age=45
age

45

# Q5: Create a variable `height` and assign a float value representing your height in meters.

In [ ]:
height=1.64
height

1.64

# Q6: Check and print the data type of the `height` variable using the `type()` function.

In [ ]:
print("type of height",type(height))

type of height <class 'float'>

# Q7: Assign the value `True` to a variable named `is_student` and print the variable.

In [ ]:
is_student="true"
print(is_student)

true

# Q8: Create a variable `name` with your first name using double quotes and then another variable `surname`

In [ ]:
name="Achwaq"
surname="DJERAF"

## Q9: Create two variables `x` and `y` and assign them integer values. Swap their values without using a third variable.

In [7]:
x=10
y=15
x=y
print(x,y)

15 15

#Q10: Write a statement to update the `age` variable by adding 5 to it

In [9]:
age=22
age=age+5
print(age)

27

# Q11: Create a variable `length` and assign it the value 15. Create another variable `width` and assign it 10. Calculate the area of a rectangle using these variables and print the result

In [10]:
length=15
width=10
area=length*width
print(area)

150

# Q12: Using the variables `base` and `height`, calculate the area of a triangle and print it. Assume `base = 8` and `height = 5`.

In [13]:
base=8
height=5
area=(base*height)/2
print(area)

20.0

# Q13: Create a string variable `greeting` with the text "Hello" and another variable `recipient` with the text "World". Combine them with a space in between and print the result

In [14]:
greeting="Hello"
recipient="World"
print(greeting,recipient)

Hello World

# Q14: Create a boolean variable `is_active` and set it to `False`. Then change its value to `True` and print it

In [15]:
is_active=False
is_active=True
print(is_active)

True

# Q15: Using f-strings, print a formatted message: "My name is [name] and I am [age] years old." Replace [name] and [age] with the appropriate variables.

In [24]:
from os import fork
name="Achwaq"
age=22
formatted_string = f"My name is {name} and I am {age} years old"
print(formatted_string)

My name is Achwaq and I am 22 years old

# Q16: Create a variable `pi` and assign it the value 3.14159. Print the variable, ensuring it only shows 2 decimal places

In [25]:
pi=3.14159
print(f"{pi:.2f}")

3.14

# Q17: Assign the value of a mathematical expression (e.g., `2 * (3 + 5)`) to a variable and print it

In [27]:
A=(2*(3+5))
A

16

# Q18: Create a variable `sentence` and assign it a sentence of your choice. Use slicing to print the first 5 characters.

In [30]:
sentence="final project"
print(sentence[:5])

final

#Create a variable `number` with the value 100. Use an arithmetic operation to double its value and then print it

In [31]:
number=100
number=number*2
print(number)

200

# Q20: Declare three variables `a`, `b`, and `c` with values 5, 10, and 15 respectively. Calculate and print their average.

In [34]:
a=5
b=10
c=15
y=(a+b+c)/3
print("the average is",y)

the average is 10.0